.page_front {

  color: #000000;

  background: #9c9e9c;

}

.insert1 {
  border-radius: 25px;
  outline-style: dotted;
  background-color: lightgrey;
  width: 200px;
  border: 15px solid rgb(81, 82, 81);
  padding: 50px;
  margin: 20px;
  display: inline-block;
} 

.drop {
  border-radius: 25px;
  outline-style: dotted;
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  display: inline-block;
}

.ch_box {
  border-radius: 25px;
  outline-style: dotted;
  background-color: lightgrey;
  width: 200px;
  border: 15px solid green;
  padding: 3  0px;
  margin: 20px;
  display: inline-block;
}