.page_front {

  color: #000000;

  background: #9c9e9c;

}

.header {
  background-color: #3b3b3b;
  text-align: center;
  padding: 20px;
}

.insert1 {
  border-radius: 25px;
  outline-style: dotted;
  background-color: lightgrey;
  width: 200px;
  padding: 50px;
  margin: 20px;
  display: inline-block;
}

.drop {
  border-radius: 25px;
  outline-style: dotted;
  background-color: lightgrey;
  width: 300px;
  padding: 50px;
  margin: 20px;
  display: inline-block;
}

.ch_box {
  border-radius: 25px;
  outline-style: dotted;
  background-color: lightgrey;
  width: 200px;
  padding: 3 0px;
  margin: 20px;
  display: inline-block;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.button {
  background-color: #4CAF50; /* Cor de fundo */
  border: none; /* Sem bordas */
  color: white; /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem decoração no texto */
  display: inline-block;
  font-size: 16px; /* Tamanho da fonte */
  margin: 4px 2px;
  cursor: pointer; /* Cursor do mouse */
}
